<div class="container-card">
    <div class="card">
        <div class="permission-message">
            <!-- <h4>Aceite a permissão de localização ou pesquise por uma cidade!</h4> -->
        </div>
        <div class="info-main">
            <h3 id="name-city">Açailândia, MA</h3>
            <div class="temperature-info">
                <h1 id="graus">45°C</h1>
                <span id="description">Sol rachando</span>
            </div>

            <div class="clima-info">
                <span id="rain"><fa-icon [icon]="faCloudRain"></fa-icon>99%</span>
                <span id="humidity"><fa-icon [icon]="faTint"></fa-icon>10%</span>
                <span id="wind"><fa-icon [icon]="faWind"></fa-icon>20km/h</span>
            </div>

        </div>
        <div class="card-other-days">
            <div class="card card-01">
                <h4 id="day-01">Sex - 20/09</h4>
                <span id="max-01 temp">Max</span>
                <p class="maxTemp">32°</p>
                <span id="min-01 temp">Min</span>
                <p class="minTemp">30°</p>
            </div>

            <hr class="line-vertical">

            <div class="card card-02">
                <h4 id="day-02 temp">Sab - 21/09</h4>
                <span id="max-02 temp">Max</span>
                <p class="maxTemp">32°</p>
                <span id="min-02 temp">Min</span>
                <p class="minTemp">30°</p>
            </div>

            <hr class="line-vertical">

            <div class="card card-03">
                <h4 id="day-03">Dom - 22/09</h4>
                <span id="max-03 temp">Max</span>
                <p class="maxTemp">32°</p>
                <span id="min-03 temp">Min</span>
                <p class="minTemp">30°</p>
            </div>
        </div>
    </div>
</div>